*{
    margin: 0;
    padding: 0;
}

.carousel{
    max-width: 1600px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.carousel .carousel-item,
.carousel .carousel-item-hidden{
    display: none;
    transition: 1s;
} 

.carousel .carousel-item img{
    width: 100%;
    max-width: 1600px;
    height: auto;
}

.carousel .carousel-item-visible{
    display: block;
    transition: 1s;
}

.carousel .carousel-action{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carousel .carousel-action #carousel-button-previous{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.carousel .carousel-action #carousel-button-next{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}